* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 100%;
    max-width: 430px;
    padding: 20px;
}

.auth-card {
    background: white;
    padding: 40px;
    border-radius: 18px;

    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

.auth-card h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

.auth-card label {
    display: block;
    margin-bottom: 7px;
    margin-top: 18px;
    font-weight: 600;
}

.auth-card input {
    width: 100%;
    padding: 13px;

    border: 1px solid #ddd;
    border-radius: 9px;

    font-size: 15px;
}

.auth-card input:focus {
    outline: none;
    border-color: #667eea;
}

.auth-card button {
    width: 100%;
    padding: 14px;

    margin-top: 25px;

    border: none;
    border-radius: 9px;

    background: #667eea;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

.auth-card button:hover {
    opacity: 0.9;
}

.bottom-text {
    text-align: center;
    margin-top: 25px;
    color: #666;
}

.bottom-text a {
    color: #667eea;
    text-decoration: none;
    font-weight: 600;
}